@model BOL.CE.StudentModule;



<h3>
	Student List
</h3>
<div>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">StudentID</th>
				<th scope="col">FirstName</th>
				<th scope="col">LastName</th>
				<th scope="col">Email</th>
			</tr>
		</thead>
		<tbody>
			@{
				if (Model != null && Model.studentsList != null && Model.studentsList.Count() > 0)
				{
					foreach (var item in Model.studentsList)
					{
						<tr>
							<th scope="col"> @item.StudentID</th>
							<td>@item.FirstName</td>
							<td>@item.LastName</td>
							<td>@item.Email</td>


						</tr>
					}
				}
			}
		</tbody>
	</table>
</div>item